@model IEnumerable<CoMaMarkt.Models.Bezorgmoment>

@{
    ViewData["Title"] = "Index";
}

<h1>Bezorgmomenten</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="LoadXml">XML laden</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EindTijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.DeDag)
                    @Html.DisplayFor(modelItem => item.DeDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeBeginTijd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeEindTijd)
                </td>
                <td>
                   € @Html.DisplayFor(modelItem => item.Prijs)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
