@model CoMaMarkt.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subcategorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subcategorie.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subsubcategorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subsubcategorie.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bestelling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bestelling.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Merk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Merk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorteOmschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorteOmschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gewicht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gewicht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
