@model CoMaMarkt.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @Html.DisplayFor(model => model.Naam)
        <small> @Html.DisplayFor(model => model.Categorie.Naam)</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src=" @Html.DisplayFor(model => model.Image)"  alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Beschrijving product</h3>
            @Html.DisplayFor(model => model.Omschrijving)
            <h3 class="my-3">Prijs</h3>
            €@Html.DisplayFor(model => model.Prijs)
            <h3 class="my-3">Product Details</h3>
            <ul>
                <li>Merk: @Html.DisplayFor(model => model.Merk)</li>
                <li>Hoeveelheid: @Html.DisplayFor(model => model.Gewicht) </li>
            </ul>
        </div>

    </div>
</div>
<div>
    <a href="#" class="btn btn-primary">Terug naar producten</a>
    <a href="#" class="btn btn-primary">Bestel!</a>
</div>
